html, body {
    height: 100%;
    margin: auto;
    width: 100%;
    max-width: 1140px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    margin: 0px;
    padding-top: 50px;
    flex-direction: row;
}

#txt-error-email-missing , #txt-error-password-missing , #txt-error-login {
    margin-bottom: 30px;
    font-size: 20px;
    color: red;
}